*{
    margin:0px;
    padding:0px;
}

body{
    font-family: Arial;
}

.main{

}

.cards{
    width: 25%;
    display: inline-block;
    background-color:gray;
    border-radius: 5px;
    margin: 30px;
}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}

.image img{
    width:100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.title{
    text-align: center;
    padding: 5px;
}

.des{
    text-align: center;
    padding: 4px;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background-color: rgb(45, 60, 190);
}